<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          K.B.S WOOD
        </a>
      </nav>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <span class="navbar-brand mb-0 h1" >Admin
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/accueil']"> Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]=" ['/produits']">Produits</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]=" ['/AjoutProduit']">Ajout Produit</a>
                </li>
           
            <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/contact']">Contact</a>
            </li>
          </ul>
          
          <form class="form-inline my-2 my-lg-0" >
            <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/Login']"type="submit">disconnect</button>
          </form>
        </div>
      </nav>
      


