<app-menu></app-menu>
<h2> Nous contacter</h2>
<body>
                <div class="card text-center">
                                <div class="card-header"><img  src="../assets/logo.png" width="200" height="200">
                                  
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Votre satisfaction est notre prioritée</h5>
                                  <p class="card-text">k.b.s.wood12@gmail.com</p>
                                  <p class="card-text">+216 28 676 860</p>
                                  <a href="https://www.facebook.com/K.B.SWOOD/" class="btn btn-primary">Facebook</a>
                                </div>
                                <div class="card-footer text-muted">
                                   Nous répondons dans les 24 heures!
                                </div>
                              </div>        



</body>
<h2> Trouvez Nous</h2>
<div class="container">
                <div class="row">
                    <div class="grid_12">
                            <iframe src="https://www.google.com/maps/d/embed?mid=1Ue81n63fbNhknkHIrpWjTeo49Rn_zK50" width="1000" height="400"></iframe>
                    </div>
                </div>
</div>